<!-- Clients Aside -->
    
    <aside id="sponsors" class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/LXAI-logo-black.png" class="img-responsive img-vert-centered img-centered" alt="LXAI">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 img-centered">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/LIF.jpeg" class="img-responsive img-vert-centered img-centered" alt="Latinos in Finance">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/accelai.png" class="img-responsive img-centered" alt="Accel.AI">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/ihsf.png" class="img-responsive img-centered" alt="Impact Hub SF">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/LSA-logo.png" class="img-responsive img-centered" alt="Latino Startup Alliance">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="#" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2018_style/img/logos/CgChBox.png" class="img-responsive img-centered" alt="Cage Chain">
                    </a>
                </div>
            </div>
        </div>
    </aside>