<!DOCTYPE html>
<html>

  {% include 2018_data/head.html %}


    <body id="page-top" class="index">

    {% include 2018_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div id="intro-box">
                    <div class="intro-heading">AI</div>
                    <div class="intro-heading">Fintech Forum<br></div>
                    <div class="intro-lead-in">July 21st, 2018</div>
                    <div class="intro-lead-in">San Francisco, CA</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
                </div>
            </div>
        </div>
    </header>

    {% include 2018_data/intro.html %}
    {% include 2018_data/iter-schedule.html %}
    {% include 2018_data/speakers.html %}
    {% include 2018_data/about.html %}
    {% include 2018_data/sponsors.html %}
    {% include 2018_data/contact.html %}
    {% include 2018_data/footer.html %}
    {% include 2018_data/speakers_info.html %}
    {% include 2018_data/js.html %}

    </body>
</html>